<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wangdi's Blog</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
                Wangdi's Blog
            </h3>
            <ul class="nav nav-tabs">
                <li class="disabled">
                    <a href="#">仪表盘</a>
                </li>
                <li  class="active">
                    <a href="#">添加文章</a>
                </li>
                <li>
                    <a href="#">修改文章</a>
                </li>
            </ul>
            <form role="form" action="./admin/addArticle" method="post">
                <div class="form-group">
                    <label>标题</label><input type="text" class="form-control" name="title"/>
                </div>
                <div class="form-group">
                    <label>内容</label><textarea name="content" class="form-control" rows="30"></textarea>
                </div>
                 <button type="submit" class="btn btn-success" style="float:right">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>